{% extends "base.html" %}
<html lang="pt-br">

{% block title %} Unes universidade {% endblock %}

{% block PageStyle %}<link rel="stylesheet" href="../static/CSS/Other.css">{% endblock %}

{% block header2 %}Quem somos:{% endblock %}

{% block paragraphs %}
<span>
    <p> Lorem <strong>ipsum dolor </strong>sit amet consectetur adipisicing elit. Quas ratione at vero commodi
        consequuntur, nemo
        cum, distinctio maxime debitis atque et dolores doloremque vel accusamus quis, odit reiciendis
        architecto provident? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quos, natus nobis
        eos molestias necessitatibus quam possimus. Obcaecati quo quisquam doloremque maiores! Vitae fuga ea
        nobis sequi, laudantium ex inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ex
        deserunt, in repellat, eveniet accusantium nisi eius vero amet voluptatem animi illo expedita totam,
        officia maiores cum qui alias perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Velit dolor nihil fuga similique. Voluptatem reprehenderit fugit officiis sed earum veniam, optio alias
        consectetur quis blanditiis sit ullam? Qui, ea reprehenderit. </p>
</span>
{% endblock %}

{% block list %} 
<li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidades bem avaliada</li>
            <li>ótima localização</li>
{%endblock%}



{% block header4 %}
    <h1 style="border: 1px gray solid;"></h1>
    <h1>Objetivos</h1>
{% endblock %}

{% block paragraphs2 %}
<span>
    <p> Lorem <strong>ipsum dolor </strong>sit amet consectetur adipisicing elit. Quas ratione at vero commodi
        consequuntur, nemo
        cum, distinctio maxime debitis atque et dolores doloremque vel accusamus quis, odit reiciendis
        architecto provident? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quos, natus nobis
        eos molestias necessitatibus quam possimus. Obcaecati quo quisquam doloremque maiores! Vitae fuga ea
        nobis sequi, laudantium ex inventore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ex
        deserunt, in repellat, eveniet accusantium nisi eius vero amet voluptatem animi illo expedita totam,
        officia maiores cum qui alias perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Velit dolor nihil fuga similique. Voluptatem reprehenderit fugit officiis sed earum veniam, optio alias
        consectetur quis blanditiis sit ullam? Qui, ea reprehenderit. </p>
</span>
{% endblock %}

